@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: satoshi;
  src: url("./assets/Font/Satoshi-Regular.otf");
}

@font-face {
  font-family: interal;
  src: url("./assets/Font/Fontspring-DEMO-integralcf-bold.otf");
}

body {
  font-family: satoshi;
}

.title{
  font-family: integral;
}
